@import "bootstrap";
@import "font-awesome";

nav{
  margin-bottom: 20px;
  height: 50px;
}

h5.card-title a:hover{
  text-decoration: none;
}

a#navbarDropdownMenuLink, .navbar-light .navbar-nav .nav-link, .nav-link{
  color: #fff;
}

body{
  background: #f8f8f8;
}

i.fa.fa-heart-o.fa-2x{
  color: red;
}